.Experience {
    /* experience as simple centered flex */
    display: flex;
    justify-content: center;

    /* dimensions and spacing */
    max-width: 100%;
    padding: 1em;

  /* color gradient */
  background-image: linear-gradient(to bottom, #F2F0Ef, #F8F1FF);
}

.Experience-content {
    /* content as col-style flexbox in resume format */
    display: flex;
    flex-direction: column;

    /* simple styling */
    text-align: left;
    background-color: #F2F3D9;
    border-radius: 1.5%;

    /* dimensions and spacing */
    max-width: 60%;
    padding: 1em;
}

.Experience-header {
    /* header as row-style flexbox with logo and title */
    display: flex;
    flex-direction: row;
    align-items: center;

    /* separata header from body */
    padding-bottom: 1em;
}

.Experience-title {
    font-weight: 500;
}

.Experience-logo img {
    min-width: 10vw;
    max-height: 4vh;
    padding-right: 1em;
}

@media (max-width: 600px) {
  .Experience-content {
    max-width: 80%;
  }
  .Experience-logo img {
    max-height: 2.5vh;
  }
}