.AboutMe {
  /* about me as simple centered flex box */
  display: flex;
  justify-content: center;

  /* dimensions and spacing */
  max-width: 100%;
    padding: 10em 1em 5em;

  /* color gradient */
  background-image: linear-gradient(to bottom, #F2F3D9, #F2F0Ef);
}

.AboutMe-Content {
  /* simple text div */
  border-radius: 1.5%;
  font-size: 1.25em;
  text-align: center;

  /* dimensions and spacing */
  max-width: 40%;
  padding: 1em;
}

@media (max-width: 600px) {
  .AboutMe-Content {
    /* wider about me for small screens */
    max-width: 80%;
  }
}