.dropdown-wrap {
    position: absolute;
    top: 5vh;
    left: 0;
    width: calc(100vw - 4em);
    padding: 2em 1em;

    display: flex;
    justify-content: right;
}

.profile-dropdown {
    display: flex;
    min-width: calc(100vw / 4);
    max-width: calc(100vw / 3);
    background-color: #D1D5DE;
    color: #534D56;
    border-radius: 0.5em;
}

.profile-dropdown a {
    width: 100%;
    padding: 0.75em;
    border-radius: 0.5em;
}

.profile-dropdown a:hover {
    background-color: #B7B6C2;
    border-radius: 0.5em;
}